/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --drkest-blue:#020659;
    --drk-blue-med:#020873;
    --drk-blue-light:#030A8C;
    --sky-blue:#0D8DFB;
    --light-sky:#2699FB;
    --cobalt:#2104D9;
    --plum:#590242;
    --white:#FFFFFF;
    --font-family: 'Verdana''Geneva''Tahoma'sans-serif;
}

html{
    background-color: var(--drkest-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 375px;
    margin:0 auto;
    color: var(--white);
}
main{
    background-color: var(--white);
}
header{
    padding: 15px;
    background: linear-gradient(to right, #2104D9, #030A8c, black);
}
header p{
    display: flex;
    margin: 10px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
nav{
    height: 60px;
    display: flex;
    background-color: var(--drk-blue-med);
    color: var(--white);
    font-size: 1em;
}
nav a{
    color: var(--white);
}
h1{
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 10px;
}
h2{
    color: var(--plum);
}
h2, h3{
    font-size:1em;
}
p, dl, dd{
    font-size: 1em;
}
.scroll{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x:auto;
    overflow-y: hidden;
}
.scroll section{
    margin: 10px;
    position: relative;
}
.scroll div{
    position: absolute;
    top:251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 50px;
    width: 350px;
}
dl{
    display:flex;
    color: var(--plum);
}
dt{
    padding-right: 5px;
    color: var(--plum);
    font-style: italic;
}
audio{
    position: relative;
    bottom: 200px;
    left: 5px;
}
.trending{
    text-decoration: none;
    background-color: var(--plum);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
.trending:hover{
    background-color: var(--drkest-blue);
}
.yourplaylists{
    text-decoration: none;
    background-color: var(--plum);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
.yourplaylists:hover{
    background-color: var(--drkest-blue);
}
.curated{
    text-decoration: none;
    background-color: var(--plum);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    width:150px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
.curated:hover{
    background-color: var(--drkest-blue);
}
audio::-webkit-media-controls-mute-button{
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button{
    background-color: var(--white);
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure{
    background-color: rgba(255,255,255,.75);
}
#trendingsongs ::-webkit-scrollbar{
    width:15px;
}
#trendingsongs ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px var(--plum);
}
#trendingsongs ::-webkit-scrollbar-thumb{
    background: var(--plum);
    border-radius: 5px;
}
#yourplaylists ::-webkit-scrollbar{
    width:15px;
}
#yourplaylists ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px var(--drkest-blue);
}
#yourplaylists ::-webkit-scrollbar-thumb{
    background: var(--drkest-blue);
    border-radius: 5px;
}
#curated ::-webkit-scrollbar{
    width:15px;
}
#curated ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 15px var(--drkest-blue);
}
#curated ::-webkit-scrollbar-thumb{
    background: var(--drkest-blue);
    border-radius: 5px;
}
#trendingsongs h2{
    color: var(--plum);
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}
#yourplaylists .scroll{
    background-color: var(--light-sky);
    height: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
}
#yourplaylists section{
    background-color: var(--sky-blue);
    margin: 10px;
    padding: 10px;
}
#yourplaylists h3{
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#yourplaylists h2{
    padding: 20px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#yourplaylists p{
    text-align: center;
}
#curated .scroll{
    background-color: var(--drk-blue-light);
}
#curated section{
    background-color: var(--drk-blue-med);
    margin: 10px;
    padding: 10px;
}
#curated h3{
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
#curated h2{
    padding: 20px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
    
}
#curated p{
    text-align: center;
}
#between{
    background-color: var(--white);
    padding: 20px;
}
#between h2{
    color: var(--plum);
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    background-color: var(--white);
    width: 100%;
    height: 50px;
    color: var(--plum);
    text-align: center;
    padding-top: 30px;
}
footer p{
    font-size: .75em;
    color: #590242; 
    
}

/* Menu Code for Mobile First Style (minus the bits you know how to do):  */

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    height: 285px;
    background-color: var(--cobalt);
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 1;
}
li{
    padding: 10px;
    width: 100%; 
    font-variant: small-caps;
}
li:nth-child(n+2) a{ 
    width: fit-content;
    text-transform: uppercase;
}
li:nth-child(1) a{
    font-size: 1.75em;
    
}
li:hover{
    background-color: var(--plum);
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
    text-align: center;
    padding-right: 10px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    
    ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
    }
    li{
        margin: 5px;
    
    }
    li:hover{
        color: var(--plum);
    }
    label span, input {
        display: none;
    }
    body{
        width: 834px;
    }
     #yourplaylists{
        width: 50%;
    }
    .scroll-pc{
        display: flex;
    }
    #curated{
        width: 50%;
    }
    #yourplaylists .scroll{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 400px;
    }
    #curated .scroll{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        height: 400px;
        
    }
    #curated img{
        float: left;
    }
    #yourplaylists img{
        float: left;
    }

    .trending{
        position: relative;
        left: 600px;
    }
    li:hover{
        width: fit-content;
        
    }
}